/* Style sheet for my lab 5 assignment. */

body {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: #CCCEDC;
}

header {
	display: block;
  background-color: #4F5584;
  position: relative;
	height: 80px;
	text-align: center;
	font-size: 30px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  margin-top: 30px;
  padding: 1px;
}

#heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
}

footer {
	background-color: #4F5584;
	height: 50px;
  position: relative;
	clear: both;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: 'Space Mono', sans-serif;
}

table {
  position: relative;
  width: 97%;
  height: 500px;
  margin-top: 45px;
  margin-bottom: 15px;
  margin-left: 21px;
  margin-right: 15px;
  /*padding: 10px;*/
  border-spacing: 5px;
}

p {
  margin-top: 15px;
  margin-bottom: 10px;
}

h2 span::before {
  content: "\A";
  white-space: pre;
}

th {
  text-align: left;
}

th span::before {
  content: "\A";
  white-space: pre;
}

td span::before {
  content: "\A";
  white-space: pre;
}

td {
  padding: 7px;
  border-bottom: 1px solid #CCCEDC;
}

img {
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

#planets {
  font-family: 'Space Mono', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.fields {
  float: left;
  font-family: 'Space Mono', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

sup { 
  vertical-align: 10px;
  font-size: smaller;
}

main {
	background-color: #9C9FBA;
	float: right;
	width: 78.9%;
	height: 600px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 3px;
}

#content {
  font-family: Verdana, sans-serif;
}

#welcome {
  margin-top: 230px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

#leftsidebar {
	background-color: #72779E;
  position: relative;
  float: left;
	width: 19.3%;
  height: 600px;
  font-size: 38px;
  font-family: 'Orbitron', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 2px;
}